extends _layout.pug

block variables
    -
        var title = 'Великие имена Достоевский'
        var description = 'Великие имена Достоевский'
        var index = false

        var exhibitions = {
            header: 'Выставки',
            items: [
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
            ]
        }

        var excursions = {
            header: 'Экскурсии',
            items: [
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
                {
                    image: '',
                    text: 'Районный праздник «Никитская ярмарка» и день посёлка Крестцы',
                    city: 'Крестцы',
                    date: '02.02.24',
                },
            ]
        }

block content
    .intro.intro--writer
        .container
            p.intro__subheader Великие имена
            h1.intro__header ДОСТОЕВСКИЙ ФЕДОР <br>МИХАЙЛОВИЧ
            .intro__text Путешествие по жизни и творчеству великого писателя
            .intro-grid.intro-grid--small
                .intro__item
                    .intro__item-text глубокое погружение в историю <br>и контекст произведений <br>Ф.М.Достоевского
                .intro__item
                    .intro__item-text интерактивные экскурсии по <br>местам, связанным с жизнью <br>и творчеством писателя
                .intro__item
                    .intro__item-text уникальные выставки, рукописи и <br>личные вещи, раскрывающие характер <br>и эпоху Ф.М. Достоевского
    .section.section--white.after.person
        .container
            h2.section__header.person__header Старая Русса в жизни и творчестве Достоевского
            .person__inner
                img.person__image(src="img/writer.png" alt="")
                .person__text
                    p 20 апреля 1872 г. Достоевский писал своей сестре В. М. Ивановой: «Так как вопрос о даче для нас слишком важен, мы по совету Владиславлевых и поручили им… нанять дачу в Старой Руссе. Владиславлевы хвалят место, хвалят воды, дешевизну и комфорт. Правда место озерное и сыренько, это известно, но что делать…». 
                    p Впервые Достоевские приехали в Старую Руссу 18 мая 1872 г. — Любе было неполных 3 года, а Феде еще не исполнился год. Город с буйной зеленью садов, колокольным звоном многих церквей производил отрадное впечатление. Начиная с этого времени, семья стала приезжать в Руссу каждое лето. Первое лето Достоевские жили в доме настоятеля церкви св. Георгия, о. Иоанна Румянцева, ставшего духовником писателя. В доме о. Иоанна в это лето Достоевский работал над завершением романа «Бесы». Некоторые старорусские впечатления и реалии вошли в этот роман. 
                    p Несмотря на то, что первое лето оказалось не очень удачным — болели Люба и Анна Григорьевна — на следующий год Достоевские вновь решили снять дачу в Старой Руссе. На этот раз поселились в деревянном двухэтажном доме на набережной Перерытицы, принадлежащем отставному подполковнику А. К. Гриббе.
                    p Жизнь в Руссе так полюбилась Достоевским, что они решили провести здесь даже зиму 1874/75 гг. Здесь, в уединении, Федор Михайлович напряженно работал над романом «Подросток», в котором эпизод из жизни провинциального города Афимьевска и образ купца Скотобойникова связаны со Старой Руссой.
                    p В мае 1876 г. Достоевский приобрел дом на берегу Перерытицы. Впервые у писателя, всю жизнь кочевавшего по квартирам и не имевшего никакой собственности, появился свой дом. Здесь жили уже трое детей Достоевских, так как 10 августа 1875 г., в Старой Руссе, у них родился сын Алексей.


    .section.section--gray.section--middle.writer
        .container
            .writer-audioguide
                .writer-audioguide__left
                    h2.writer-audioguide__header АУДИОГИД
                    .writer-audioguide__subheader старая руса в жизни достоевского
                    .writer-audioguide__audio
                        .audio-player
                            audio(src="Treasures.mp3")
                .writer-audioguide__right
                    .writer-audioguide__text
                        p В Старой Руссе времен Достоевского любимым местом прогулок у местных и приезжих людей был так называемый Красный берег (набережная реки Полисти). Там находился Городской сад, где проходили народные гулянья. На Красном берегу размещались Земская управа, царский Путевой дворец, фабрика акционерного общества «Александр Мартин Лютер», лесопильный завод Де Бука.
                        p Также здесь находилась пароходная пристань. Именно сюда 16 мая 1872 года пристал пароход, на котором совершала свое первое путешествие по Новгородской земле семья Достоевских. <br>В настоящее время эти объекты утрачены.
                        p.mobile-only Совершая прогулки с женой и детьми или в одиночестве, Достоевский часто направлялся от Торговой площади (здесь писатель бывал

            h2.section__header.exhibitions__header !{excursions.header}
            .exhibitions-grid
                each item in excursions.items
                    .exhibitions__item
                        img.exhibitions__item-image(src=item.image, alt="")
                        .exhibitions__item-text !{item.text}
                        .exhibitions__item-bottom
                            .exhibitions__item-city.city !{item.city}
                            .exhibitions__item-date !{item.date}

    .section.section--blue.after.section--middle.exhibitions
        .container
            h2.section__header.exhibitions__header !{exhibitions.header}
            .exhibitions-grid
                each item in exhibitions.items
                    .exhibitions__item
                        img.exhibitions__item-image(src=item.image, alt="")
                        .exhibitions__item-text !{item.text}
                        .exhibitions__item-bottom
                            .exhibitions__item-city.city !{item.city}
                            .exhibitions__item-date !{item.date}

    .section.section--gray.section--middle.welcome.z-1
        include components/welcome.pug